ejerciciosXML/ejerciciosDTD/ej2.dtd

<!ELEMENT canciones (cancion*)>
<!ELEMENT cancion (titulo,duracion,nombre,album,(a単o|compa単ia))>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT duracion (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT album (#PCDATA)>
<!ELEMENT a単o (#PCDATA)>
<!ELEMENT compa単ia (#PCDATA)>
<!ATTLIST cancion genero CDATA #REQUIRED>